Source: hildon-input-method-plugins
Section: x11
Priority: optional
Maintainer: Ivaylo Dimitrov <freemangordon@abv.bg>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake1.9 | automake1.8,
  libgtk2.0-dev, libglib2.0-dev, libx11-dev, hildon-input-method-framework-dev (>= 2.1.61),
  libimlayouts0
Standards-Version: 3.7.2

Package: hildon-im-fkb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libimlayouts0
Description: Western Finger Keyboard plugin
 This packages provides the Finger keyboard (FKB).

Package: hildon-im-fkb-dbg
Section: devel
Architecture: any
Depends: hildon-im-fkb (= ${Source-Version})
Description: Debugging symbols for Western Finger Keyboard plugin

Package: libhildon-im-western-plugin-common3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libimlayouts0
Description: Common functionality in western Hildon IM plugins
 This packages provides the common functionality in western Hildon IM plugins.
