#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.

# export DH_VERBOSE=1

export DEB_CFLAGS_MAINT_APPEND  = -Wall -Werror
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export himplugindir ?= $(shell pkg-config --variable=himplugindir hildon-input-method-ui-3.0)

%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	dh_autoreconf --as-needed
