#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.

 export DH_VERBOSE=1


DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

DEB_INSTALL_DOCS_hildon-im-fkb = --no-act
DEB_INSTALL_CHANGELOGS_hildon-im-fkb = --no-act
DEB_INSTALL_MANPAGES_hildon-im-fkb = --no-act
DEB_INSTALL_DOCS_hildon-im-keyboard-monitor = --no-act
DEB_INSTALL_CHANGELOGS_hildon-im-keyboard-monitor = --no-act
DEB_INSTALL_MANPAGES_hildon-im-keyboard-monitor = --no-act
DEB_INSTALL_DOCS_libhildon-im-western-plugin-common3 = --no-act
DEB_INSTALL_CHANGELOGS_libhildon-im-western-plugin-common3 = --no-act
DEB_INSTALL_MANPAGES_libhildon-im-western-plugin-common3 = --no-act

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

CFLAGS = -Wall -ggdb -Wno-format-extra-args

# Use thumb mode if it enabled.
ifneq (,$(findstring thumb,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -mthumb
endif

# ifeq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
# 	CFLAGS += -DG_DISABLE_CAST_CHECKS
# endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

update-config:: configure-stamp
configure-stamp:
	./autogen.sh
	./configure --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --disable-static CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs"
	touch $@

clean::
	rm -f configure-stamp

	-./antigen.sh

	dh_clean -k
